.ColorChanger {
    background-color: rgba(226, 235, 227, 0.792);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ColorChanger .container {
    width: 80%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ColorChanger .display {
    height: 70vh; 
    width: 100%;
    background-color: white; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.ColorChanger .panel {
    border-radius: 8px; 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.ColorChanger .but {
    border-radius: 7px;
    padding: 9px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

.ColorChanger .but:hover {
    cursor: pointer;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}
