
.birthday-wish-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://www.shutterstock.com/shutterstock/photos/1495555694/display_1500/stock-photo-group-of-colour-glossy-helium-balloons-background-set-of-balloons-for-birthday-anniversary-1495555694.jpg');
}

.birthday-wish-content {
  text-align: center;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
}

h1 {
  font-size: 36px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}
