body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: wheat;
  height: 100vh; /* Setting the container height to fill the viewport */
  width: 100vw; /* Setting the container width to fill the viewport */
  margin: 0;
  padding: 20px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 100px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.tile:hover {
  transform: scale(1.05);
}
